/* 
  ##Device = Desktops
  ##Screen = 1628px to higher resolution desktops
*/

@media (min-width: 1628px)  {
  
  /* CSS */

 #table1>div {
   flex: 1 1 25rem;
     
 }

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to 1687px
*/

@media (min-width: 1281px) and (max-width: 1627px) {
  
  /* CSS */

 #table1>div {
   flex: 1 1 20rem;
     
 }

}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px){
  
  /* CSS */
  #table1 {
    display:flex;
    flex-wrap:wrap;
    
 }
 
 #table1>div {
   flex: 1 1 16rem;
     
 }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
main, article, aside{
  border: 0.75rem solid rgb(255, 251, 15);
}
main {
  flex-wrap: wrap;
   }
article{
  flex: 1 1 47rem;
  align-self:center;
}

#table1>div {
  flex: 1 1 20rem;
    
}
aside{
  flex: 1 1 47rem;
  
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px


*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
    main, article, aside{
     border: 0.75rem solid rgb(255, 251, 15);
   
}
main {
  flex-wrap: wrap;
   }
  article{
    flex: 1 1 47rem;
    align-self:center;
    }
    
    #table1>div {
      flex: 1 1 15rem;
        
    }
    aside{
      flex: 1 1 47rem;
            }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 580px to 767px
*/

@media (min-width: 580px) and (max-width: 767px) {
  
  /* CSS */
    main, article, aside{
     border: 0.75rem solid rgb(255, 251, 15);
   
}
main {
  flex-wrap: wrap;
   }
   article{
    flex: 1 1 47rem;
    align-self:center;
    
    }
    
    #table1>div {
      flex: 1 1 15rem;
      
       
    }
    aside{
      flex: 1 1 47rem;
            
      }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 579px
*/

@media (min-width: 481px) and (max-width: 579px) {
  
  /* CSS */
    main, article, aside{
     border: 0.75rem solid rgb(255, 251, 15);
   
}
main {
  flex-wrap: wrap;
   }
   article{
    flex: 1 1 47rem;
    align-self:center;
    
    }
    
    #table1>div {
      flex: 1 1 10rem;
      
       
    }
    aside{
      flex: 1 1 47rem;
            
      }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 480px){
  
  /* CSS */
    main, article, aside{
     border: 0.75rem solid rgb(255, 251, 15);
   
}
#head0 {
  flex-direction:column;
  row-gap: 1rem;
    }
  


 
main {
  flex-wrap: wrap;
   }
   article{
    flex: 1 1 47rem;
    align-self:center;
    background-color: #37919F;
    }
    
    #table1>div {
      flex: 1 1 15rem;
      background-color: #224247;
       
    }
    aside{
      flex: 1 1 47rem;
            background-color: #f59629;
      }
  
}