html {
    height:100vh;
    width: 100vw;
}

body {
  min-height:100vh;
  min-width: 100vw;
}

/* HEADER*/
header {
    border: 1rem solid rgb(0,0,0);
    
    }

#head0 {
    background:rgb(49, 75, 100);
    display: flex;
    justify-content:space-around;
    padding: 1.5rem;
    border: 0.5rem solid rgb(0,0,0);
     
}

#head0 > div {
    background: rgb(194, 72, 72);
	  justify-content:center;
    width:  9rem;
    flex: 0.125 1 auto;
    height:1.5rem;
  
}

#head0 > #head2 {
    width: 35rem;
    flex: 0.3 1 auto;
    
}



nav {
    background:rgb(255,140,0);
    color: rgb(255,215,0);
    display: flex;
    padding: 1.5rem;
    border: 0.5rem solid rgb(0,0,0);
    margin: 0rem,0rem,0,625rem,0rem;  
}

nav > div {
    background:rgb(255,215,0);
    width: 48.5rem;
    height:1.25rem;
    flex: 1 1 0;
}

/* MAIN */

main {
    display: flex;
    margin: 1.5rem 0 1.5rem 0;
    border: 1rem solid rgb(0,0,0);
    height: 20rem;
}

article{
    background:rgb(68, 74, 80);
    margin-right: auto;
    flex:2;
    padding: 0.625rem;
    border: 0.5rem solid rgb(0,0,0);
          
}

#table1 {
   display:flex;
   flex-wrap:wrap;
   height:10rem;
}

#table1>div {
  background: rgb(100,149,237);
  height:2rem;
  margin: 1rem 0.5rem 1rem 0.5rem ;
  flex: 1 1 30rem;
    
}


#table1 >.r3{
    background: rgb(171, 203, 240);
    
}


aside{
    background:rgb(255, 30, 79);
    color: rgb(240,230,140);
	  flex:1;
    padding: 1rem;
    border: 0.5rem solid rgb(0,0,0);
     
}

aside >div {
    background: rgb(240,230,140);
    margin: 1rem 0.125rem 0rem 0.125rem;
    display:flex;
    height:2rem;
    
}

/* FOOTER*/
footer{
    background:rgb(218,165,32);
    display: flex;
    align-self:end;
    padding: 1rem;
    border: 0.75rem solid rgb(0,0,0);
    margin: 0rem,0rem,0,625rem,0rem; 
  
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 80.0625rem) {
  
  /* CSS */
  #table1 {
    display:flex;
    flex-wrap:wrap;
    height:10rem;
 }
 
 #table1>div {
   background: rgb(100,149,237);
   height:2rem;
   margin: 1rem 0.5rem 1rem 0.5rem ;
   flex: 1 1 30rem;
     
 }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  
  /* CSS */
  #table1 {
    display:flex;
    flex-wrap:wrap;
    height:10rem;
 }
 
 #table1>div {
   background: rgb(100,149,237);
   height:2rem;
   margin: 1rem 0.5rem 1rem 0.5rem ;
   flex: 1 1 15rem;
     
 }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 49.125rem) and (max-width: 64rem) {
  
  /* CSS */
  header, main, footer{
     border: 0.75rem solid rgb(255, 251, 15);
 
  
}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px


*/

@media (min-width: 748rem) and (max-width: 75rem) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 30.0625rem) and (max-width: 747.9375rem) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 20rem) and (max-width: 24rem) {
  
  /* CSS */
  